<h1 >{{title}}</h1>

<p>get input box value :</p>
<!-- <input type="text"  (keyup)="getVal($event.target.value)" /> -->
<!-- <input type="text"  #box />
<button (click)="getVal(box.value)">Get value</button>
<p>{{currentVal}}</p> -->

<h1>Property binding Angular</h1>

<!-- <input type="text" [disabled]="disabledBox" [value]="name" /> -->
 <!--property binding handle property change-->
<!-- <br><br> -->
<!-- <input type="text" disabled={{disabledBox}} value={{name}} /> -->
 <!--interpolation binding cannot handle property change-->
<!-- <br><br> -->
<!-- <button (click)="enableBox()">Enable TextBox</button> -->

<h1>Condition in Angular</h1>

<!--if else use-->
<!-- <h1 *ngIf="show=='yes'; then ifBlock else elseBlock">
</h1>

<ng-template #ifBlock>
  <h1>if Block</h1>
  </ng-template>
<ng-template #elseBlock>
<h1>else Block</h1>
</ng-template> -->

<!--elseif use-->
<ng-template [ngIf]="show=='red' ">
  <h1> Red Block</h1>
</ng-template>
<ng-template [ngIf]="show=='green' ">
  <h1> Green Block</h1>
</ng-template>
<ng-template [ngIf]="show=='blue' ">
  <h1> Blue Block</h1>
</ng-template>


<!--switch case-->
<div [ngSwitch]="color">
  <div style="color: red;" *ngSwitchCase="'red'">Color Red</div>
  <div style="color: green;"*ngSwitchCase="'green'">Color Green</div>
  <div style="color: blue;" *ngSwitchCase="'blue'">Color Blue</div>
  <div *ngSwitchDefault>no color</div>
</div>

<!--For loop-->
<h1>For loop in Angular</h1>
<h4 *ngFor="let item of data">
  {{item}}
</h4>

<table border="1">
  <tr >
    <td>Name</td>
    <td>Age</td>
  </tr>
  <tr *ngFor="let item of data1">
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
  </tr>
</table>

<!--For Form-->
<h1>Simple From in Angular</h1>

<form #simpleform="ngForm" (ngSubmit)= "getUserValue(simpleform.value)" >
<input type="text" ngModel name="username" placeholder="enter Name"> <br> <br>
<input type="text" ngModel name="age" placeholder="enter age"> <br> <br>
<input type="text" ngModel name="address" placeholder="enter address"> <br> <br>
<button>Get User Value</button>
</form>


<app-header></app-header>
<app-footer></app-footer>

<h1>Style Binding in Angular</h1>
<h2 style="color: red;">Header 2</h2>
<h2 [style.color]="'green'">binding header 2</h2>
<h2 [style.backgroundColor]="dColor">Dynamic binding header 2</h2>
<h2 [style.backgroundColor]="err?'red':'green'">Dynamic binding header 2</h2>
<button (click)="updateColor()"> Update Color</button>

<app-boot-sample></app-boot-sample>

<h1>Add Material in Angular 10</h1>
<button mat-buttoncolor="primary">Primary Angular</button>
<mat-slider></mat-slider>

<br>
<br>

 <h1>Pass Data parent to Child Component in angular</h1>
<!--<div *ngFor="let data of userData">
<app-users [myName]="data"></app-users>
</div> -->

<h1>Pass Data child to parent Component in angular</h1>
<!-- <app-users (parentComponent)= "parentComponent($event)"></app-users> -->
<br><br><br>
<h3>{{dataName}}</h3>

<h1>Pipe in Angular</h1>
<h3>{{pname | uppercase}}</h3>
<h3>{{ptoDay | date:'fullDate'}}</h3>
<h3>{{pstr | slice:2:8}}</h3>
<h3>{{pVal | currency:'USD'}}</h3>

<h1> Basic Routing  not working try to create default route</h1>
<a routerLink="users" >User</a>
<br><br>
<a routerLink="admin">Admin</a>
<br><br>
<a routerLink="about">About</a>
<br><br>
<a routerLink="contact">Contact</a>
<router-outlet></router-outlet>


<h1>Custome Directive in Angular</h1>
<h2>Normal Heading</h2>
<h2 appCustomstyle>Custom Heading</h2>

<h1>service in Angular</h1>
<h3>{{name}}</h3>


